@{
    Layout = "_Layout";
    ViewBag.Title = "Contacts";
}

<style>
    a {
        color: #fff;
    }

    #create-btn {
        margin: 30px 0;
    }
</style>



<div class="container">
    <div style="display: none" class="alert alert-danger" id="error-alert" role="alert"></div>
    <a href="/contacts/create/">
        <button id="create-btn" type="button" class="btn btn-primary">New contact</button>
    </a>
    <table class="table table-striped" id="contacts-table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>



@section Scripts {
    <script>

        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: 'GET',
            url: `http://localhost:5002/api/contacts?userId=${sessionStorage.getItem("userId")}`,

            success: function (response) {
                displayContacts(response);
            },

            error: function (error) {
                displayError(error.responseText);
            },
        });

        function displayContacts(response) {
            const data = response;

            data
                .forEach((contact, index) => {
                    const row = `<tr>
                                  <th scope="row">${index + 1}</th>
                                  <td>${contact.name}</td>
                                  <td>+${contact.phone}</td>
                                  <td>
                                       <a href="/contacts/update/${contact.id}">
                                            <button type="button" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></button>
                                       </a>
                                       <a href="/contacts/delete/${contact.id}">
                                            <button type="button" class="btn btn-danger"><i class="fas fa-times"></i></button>
                                       </a>
                                  </td>
                               </tr>`;
                    $("#contacts-table").append(row);
                }); 
        }

        function displayError(error) {
            let errorAlert = $("#error-alert")
            errorAlert.text(error);
            errorAlert.fadeIn(100);
        }
    </script>
}