@{
    Layout = "_Layout";
    ViewBag.Title = "Edit contact";
}


<div class="container">
    <div class="row">
        <div style="display: none" class="alert alert-danger" id="error-alert" role="alert">Not valid values! Check your inputs!</div>
    </div>
    <div class="row">
        <form style="width: 500px;" name="updateContactForm">
            <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" name="inputName" aria-describedby="emailHelp" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="inputPhone">Phone</label>
                <input type="text" class="form-control" id="inputPhone" placeholder="Enter phonenumber (7+ digits)">
                <small id="emailHelp" class="form-text text-muted">Digits only</small>
            </div>
            <button name="submitBtn" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>



@section Scripts {
    <script>
        // get id of current updating contact 
        const contactForm = document.forms["updateContactForm"];
        const contactId = @Model;

        // base url
        const url = "http://localhost:5002/api/contacts/";

        // get contact with id from url param 
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },

            type: 'GET',
            url: url + contactId,
            dataType: 'json',

            success: function (data) {
                // fill inputs with contact values
                fillInputs(JSON.stringify(data));
            }
        });

        contactForm.submitBtn.addEventListener('click', submitFormCallback);

        function submitFormCallback() {
            event.preventDefault();

            if (isFormValid(contactForm)) {
                // form new contact according to inputs in page
                const contactBody = {
                    "name": contactForm.inputName.value,
                    "phone": contactForm.inputPhone.value,
                    "userId": sessionStorage.getItem("userId"),
                }

                // send put request to the api
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },

                    type: 'PUT',
                    url: url + contactId,
                    data: JSON.stringify(contactBody),
                    dataType: 'json',

                    success: function () {
                        // come back to main page
                        window.location.href = '/contacts/list'
                    }
                });
            } else {
                displayError();
            }
        }

        function isFormValid(form) {
            if (form.inputName.value && form.inputPhone.value.match(/^[0-9]{7,30}$/gm)) {
                return true;
            }
            return false;
        }

        function displayError() {
            $("#error-alert").fadeIn(100);
        }

        function fillInputs(response) {
            const contactData = JSON.parse(response);

            contactForm.inputName.value = contactData.name;
            contactForm.inputPhone.value = contactData.phone;
        }
    </script>
}